In [36]:
import pandas as pd

import numpy as np

import warnings 

warnings.filterwarnings('ignore')

In [ ]:
schema_base = {
    "CNPJ BÁSICO": np.str_,
    "CNPJ ORDEM": np.str_,
    "CNPJ DV": np.str_,
    "IDENTIFICADOR MATRIZ/FILIAL": np.str_,
    "NOME FANTASIA": np.str_,
    "SITUAÇÃO CADASTRAL": np.str_,
    "DATA SITUAÇÃO CADASTRAL": np.str_, 
    "MOTIVO SITUAÇÃO CADASTRAL": np.str_,
    "NOME DA CIDADE NO EXTERIOR": np.str_,
    "PAIS": np.str_,
    "DATA DE INÍCIO ATIVIDADE": np.str_, 
    "CNAE FISCAL PRINCIPAL": np.str_,
    "CNAE FISCAL SECUNDÁRIA": np.str_,
    "TIPO DE LOGRADOURO": np.str_,
    "LOGRADOURO": np.str_,
    "NÚMERO": np.str_,
    "COMPLEMENTO": np.str_,
    "BAIRRO": np.str_,
    "CEP": np.str_,
    "UF": np.str_,
    "MUNICÍPIO": np.str_,
    "DDD 1": np.str_,
    "TELEFONE 1": np.str_,
    "DDD 2": np.str_,
    "TELEFONE 2": np.str_,
    "DDD DO FAX": np.str_,
    "FAX": np.str_,
    "CORREIO ELETRÔNICO": np.str_,
    "SITUAÇÃO ESPECIAL": np.str_,
    "DATA DA SITUAÇÃO ESPECIAL": np.str_  
}

schema_municipios = {
    "CÓDIGO DO MUNICÍPIO": np.str_,
    "NOME MUNICÍPIO": np.str_
}

estados_regioes = {
    'SP': 'Sudeste', 'RJ': 'Sudeste', 'MG': 'Sudeste', 'ES': 'Sudeste',
    'PR': 'Sul', 'SC': 'Sul', 'RS': 'Sul',
    'MS': 'Centro-Oeste', 'MT': 'Centro-Oeste', 'GO': 'Centro-Oeste', 'DF': 'Centro-Oeste',
    'AC': 'Norte', 'AP': 'Norte', 'AM': 'Norte', 'PA': 'Norte', 'RO': 'Norte', 'RR': 'Norte', 'TO': 'Norte',
    'BA': 'Nordeste', 'SE': 'Nordeste', 'AL': 'Nordeste', 'PE': 'Nordeste', 'PB': 'Nordeste', 
    'RN': 'Nordeste', 'CE': 'Nordeste', 'PI': 'Nordeste', 'MA': 'Nordeste'
}

In [38]:
municipios = pd.read_csv("../../data/processed/municipios_filtrados.csv", sep = ";", dtype = schema_municipios)

municipios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CÓDIGO DO MUNICÍPIO  5572 non-null   object
 1   NOME MUNICÍPIO       5572 non-null   object
dtypes: object(2)
memory usage: 130.6+ KB

In [39]:
municipios.head()

  CÓDIGO DO MUNICÍPIO           NOME MUNICÍPIO
0                   1            GUAJARA-MIRIM
1                   2  ALTO ALEGRE DOS PARECIS
2                   3              PORTO VELHO
3                   4                  BURITIS
4                   5                JI-PARANA

In [40]:
dados = pd.read_csv("../../data/processed/academias_filtradas.csv", sep = ";", dtype = schema_base)

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108938 entries, 0 to 108937
Data columns (total 30 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CNPJ BÁSICO                  108938 non-null  object
 1   CNPJ ORDEM                   108938 non-null  object
 2   CNPJ DV                      108938 non-null  object
 3   IDENTIFICADOR MATRIZ/FILIAL  108938 non-null  object
 4   NOME FANTASIA                85341 non-null   object
 5   SITUAÇÃO CADASTRAL           108938 non-null  object
 6   DATA SITUAÇÃO CADASTRAL      108938 non-null  object
 7   MOTIVO SITUAÇÃO CADASTRAL    108938 non-null  object
 8   NOME DA CIDADE NO EXTERIOR   2 non-null       object
 9   PAIS                         15589 non-null   object
 10  DATA DE INÍCIO ATIVIDADE     108938 non-null  object
 11  CNAE FISCAL PRINCIPAL        108938 non-null  object
 12  CNAE FISCAL SECUNDÁRIA       80635 non-null   object
 13  TIPO DE LOGRADOURO           108868 non-null  object
 14  LOGRADOURO                   108938 non-null  object
 15  NÚMERO                       108938 non-null  object
 16  COMPLEMENTO                  47735 non-null   object
 17  BAIRRO                       108933 non-null  object
 18  CEP                          108936 non-null  object
 19  UF                           108938 non-null  object
 20  MUNICÍPIO                    108938 non-null  object
 21  DDD 1                        107526 non-null  object
 22  TELEFONE 1                   107526 non-null  object
 23  DDD 2                        27389 non-null   object
 24  TELEFONE 2                   27377 non-null   object
 25  DDD DO FAX                   12911 non-null   object
 26  FAX                          12895 non-null   object
 27  CORREIO ELETRÔNICO           97518 non-null   object
 28  SITUAÇÃO ESPECIAL            28 non-null      object
 29  DATA DA SITUAÇÃO ESPECIAL    28 non-null      object
dtypes: object(30)
memory usage: 24.9+ MB

In [41]:
dados = dados.drop(columns = ["NOME DA CIDADE NO EXTERIOR", 
                                "PAIS", 
                                "SITUAÇÃO ESPECIAL", 
                                "DATA DA SITUAÇÃO ESPECIAL", 
                                "COMPLEMENTO", 
                                "DDD 2", 
                                "TELEFONE 2", 
                                "DDD DO FAX", 
                                "FAX"])

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108938 entries, 0 to 108937
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CNPJ BÁSICO                  108938 non-null  object
 1   CNPJ ORDEM                   108938 non-null  object
 2   CNPJ DV                      108938 non-null  object
 3   IDENTIFICADOR MATRIZ/FILIAL  108938 non-null  object
 4   NOME FANTASIA                85341 non-null   object
 5   SITUAÇÃO CADASTRAL           108938 non-null  object
 6   DATA SITUAÇÃO CADASTRAL      108938 non-null  object
 7   MOTIVO SITUAÇÃO CADASTRAL    108938 non-null  object
 8   DATA DE INÍCIO ATIVIDADE     108938 non-null  object
 9   CNAE FISCAL PRINCIPAL        108938 non-null  object
 10  CNAE FISCAL SECUNDÁRIA       80635 non-null   object
 11  TIPO DE LOGRADOURO           108868 non-null  object
 12  LOGRADOURO                   108938 non-null  object
 13  NÚMERO                       108938 non-null  object
 14  BAIRRO                       108933 non-null  object
 15  CEP                          108936 non-null  object
 16  UF                           108938 non-null  object
 17  MUNICÍPIO                    108938 non-null  object
 18  DDD 1                        107526 non-null  object
 19  TELEFONE 1                   107526 non-null  object
 20  CORREIO ELETRÔNICO           97518 non-null   object
dtypes: object(21)
memory usage: 17.5+ MB

In [42]:
dados['REGIAO'] = dados['UF'].map(estados_regioes)

dados.head()

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,...,LOGRADOURO,NÚMERO,BAIRRO,CEP,UF,MUNICÍPIO,DDD 1,TELEFONE 1,CORREIO ELETRÔNICO,REGIAO
0,34183425,0001,03,1,ALMA LIDERANCA APLICADA,02,20190711,00,20190711,7319002,...,VITORIA,88,CIDADE ALTA,95700364,RS,8541,54,91160444,NaN,Sul
1,34185978,0001,97,1,UP CENTRO FISICO,02,20190711,00,20190711,9313100,...,ENGENHO VELHO QUADRA 13,SN,SETOR HABITACIONAL FERCAL (SOBRADINHO),73150045,DF,9701,61,92639029,CONTATO.UPACADEMIAFERCAL@GMAIL.COM,Centro-Oeste
2,34187457,0001,79,1,NaN,02,20190711,00,20190711,9001999,...,APINAJES,445,PERDIZES,05017000,SP,7107,11,20130863,SETEC_CONTABIL@UOL.COM.BR,Sudeste
3,34200040,0001,07,1,IRON MUSCLE,02,20190712,00,20190712,9313100,...,ALEGRETE,505,MARINSKY,95585000,RS,8489,51,91800665,VIVANFIT@GMAIL.COM,Sul
4,34201548,0001,11,1,ASMF,02,20190712,00,20190712,9313100,...,DO MANGUEIRA,S/N,ILHA DE SANTA RITA,57160000,AL,2793,82,32606021,maatiasaraujo@hotmail.com,Nordeste

In [43]:
dados_final = pd.merge(dados, municipios, left_on = "MUNICÍPIO", right_on = "CÓDIGO DO MUNICÍPIO", how = "left")

dados_final.head()

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,...,BAIRRO,CEP,UF,MUNICÍPIO,DDD 1,TELEFONE 1,CORREIO ELETRÔNICO,REGIAO,CÓDIGO DO MUNICÍPIO,NOME MUNICÍPIO
0,34183425,0001,03,1,ALMA LIDERANCA APLICADA,02,20190711,00,20190711,7319002,...,CIDADE ALTA,95700364,RS,8541,54,91160444,NaN,Sul,8541,BENTO GONCALVES
1,34185978,0001,97,1,UP CENTRO FISICO,02,20190711,00,20190711,9313100,...,SETOR HABITACIONAL FERCAL (SOBRADINHO),73150045,DF,9701,61,92639029,CONTATO.UPACADEMIAFERCAL@GMAIL.COM,Centro-Oeste,9701,BRASILIA
2,34187457,0001,79,1,NaN,02,20190711,00,20190711,9001999,...,PERDIZES,05017000,SP,7107,11,20130863,SETEC_CONTABIL@UOL.COM.BR,Sudeste,7107,SAO PAULO
3,34200040,0001,07,1,IRON MUSCLE,02,20190712,00,20190712,9313100,...,MARINSKY,95585000,RS,8489,51,91800665,VIVANFIT@GMAIL.COM,Sul,8489,ARROIO DO SAL
4,34201548,0001,11,1,ASMF,02,20190712,00,20190712,9313100,...,ILHA DE SANTA RITA,57160000,AL,2793,82,32606021,maatiasaraujo@hotmail.com,Nordeste,2793,MARECHAL DEODORO

In [44]:
dados_final["MUNICÍPIO"] = dados_final["NOME MUNICÍPIO"]

dados_final = dados_final.drop(columns=["CÓDIGO DO MUNICÍPIO", "NOME MUNICÍPIO"])

In [ ]:
dados_final.to_csv("academias_final.csv", sep = ";")