In [6]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt 

import seaborn as sns

import plotly.express as px

import warnings 

warnings.filterwarnings('ignore')

In [8]:
dados = pd.read_csv("../data/processed/academias_filtradas.csv", sep = ";")

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108938 entries, 0 to 108937
Data columns (total 30 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CNPJ BÁSICO                  108938 non-null  int64
 1   CNPJ ORDEM                   108938 non-null  int64
 2   CNPJ DV                      108938 non-null  int64
 3   IDENTIFICADOR MATRIZ/FILIAL  108938 non-null  int64
 4   NOME FANTASIA                85341 non-null   object
 5   SITUAÇÃO CADASTRAL           108938 non-null  int64
 6   DATA SITUAÇÃO CADASTRAL      108938 non-null  int64
 7   MOTIVO SITUAÇÃO CADASTRAL    108938 non-null  int64
 8   NOME DA CIDADE NO EXTERIOR   2 non-null       object
 9   PAIS                         15589 non-null   float64
 10  DATA DE INÍCIO ATIVIDADE     108938 non-null  int64
 11  CNAE FISCAL PRINCIPAL        108938 non-null  int64
 12  CNAE FISCAL SECUNDÁRIA       80635 non-null   object
 13  TIPO DE LOGRADOURO           108868 non-null  object
 14  LOGRADOURO                   108938 non-null  object
 15  NÚMERO                       108938 non-null  object
 16  COMPLEMENTO                  47735 non-null   object
 17  BAIRRO                       108933 non-null  object
 18  CEP                          108936 non-null  float64
 19  UF                           108938 non-null  object
 20  MUNICÍPIO                    108938 non-null  int64
 21  DDD 1                        107526 non-null  float64
 22  TELEFONE 1                   107526 non-null  object
 23  DDD 2                        27389 non-null   float64
 24  TELEFONE 2                   27377 non-null   float64
 25  DDD DO FAX                   12911 non-null   float64
 26  FAX                          12895 non-null   object
 27  CORREIO ELETRÔNICO           97518 non-null   object
 28  SITUAÇÃO ESPECIAL            28 non-null      object
 29  DATA DA SITUAÇÃO ESPECIAL    28 non-null      float64
dtypes: float64(7), int64(10), object(13)
memory usage: 24.9+ MB

In [9]:
dados.head()

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,NOME DA CIDADE NO EXTERIOR,PAIS,...,MUNICÍPIO,DDD 1,TELEFONE 1,DDD 2,TELEFONE 2,DDD DO FAX,FAX,CORREIO ELETRÔNICO,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL
0,34183425,1,3,1,ALMA LIDERANCA APLICADA,2,20190711,0,NaN,NaN,...,8541,54.0,91160444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34185978,1,97,1,UP CENTRO FISICO,2,20190711,0,NaN,NaN,...,9701,61.0,92639029.0,61.0,95105386.0,NaN,NaN,CONTATO.UPACADEMIAFERCAL@GMAIL.COM,NaN,NaN
2,34187457,1,79,1,NaN,2,20190711,0,NaN,NaN,...,7107,11.0,20130863.0,NaN,NaN,NaN,NaN,SETEC_CONTABIL@UOL.COM.BR,NaN,NaN
3,34200040,1,7,1,IRON MUSCLE,2,20190712,0,NaN,NaN,...,8489,51.0,91800665.0,NaN,NaN,NaN,NaN,VIVANFIT@GMAIL.COM,NaN,NaN
4,34201548,1,11,1,ASMF,2,20190712,0,NaN,NaN,...,2793,82.0,32606021.0,NaN,NaN,NaN,NaN,maatiasaraujo@hotmail.com,NaN,NaN