In [33]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt 

import seaborn as sns

import plotly.express as px

import warnings 

warnings.filterwarnings('ignore')

In [34]:
dados = pd.read_pickle("../data/processed/academias_final.pkl")

dados.head()

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,...,LOGRADOURO,NÚMERO,BAIRRO,CEP,UF,MUNICÍPIO,DDD 1,TELEFONE 1,CORREIO ELETRÔNICO,REGIAO
0,34183425,0001,03,1,ALMA LIDERANCA APLICADA,02,20190711,00,20190711,7319002,...,VITORIA,88,CIDADE ALTA,95700364,RS,BENTO GONCALVES,54,91160444,NaN,Sul
1,34185978,0001,97,1,UP CENTRO FISICO,02,20190711,00,20190711,9313100,...,ENGENHO VELHO QUADRA 13,SN,SETOR HABITACIONAL FERCAL (SOBRADINHO),73150045,DF,BRASILIA,61,92639029,CONTATO.UPACADEMIAFERCAL@GMAIL.COM,Centro-Oeste
2,34187457,0001,79,1,NaN,02,20190711,00,20190711,9001999,...,APINAJES,445,PERDIZES,05017000,SP,SAO PAULO,11,20130863,SETEC_CONTABIL@UOL.COM.BR,Sudeste
3,34200040,0001,07,1,IRON MUSCLE,02,20190712,00,20190712,9313100,...,ALEGRETE,505,MARINSKY,95585000,RS,ARROIO DO SAL,51,91800665,VIVANFIT@GMAIL.COM,Sul
4,34201548,0001,11,1,ASMF,02,20190712,00,20190712,9313100,...,DO MANGUEIRA,S/N,ILHA DE SANTA RITA,57160000,AL,MARECHAL DEODORO,82,32606021,maatiasaraujo@hotmail.com,Nordeste

In [35]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108938 entries, 0 to 108937
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CNPJ BÁSICO                  108938 non-null  object
 1   CNPJ ORDEM                   108938 non-null  object
 2   CNPJ DV                      108938 non-null  object
 3   IDENTIFICADOR MATRIZ/FILIAL  108938 non-null  object
 4   NOME FANTASIA                85341 non-null   object
 5   SITUAÇÃO CADASTRAL           108938 non-null  object
 6   DATA SITUAÇÃO CADASTRAL      108938 non-null  object
 7   MOTIVO SITUAÇÃO CADASTRAL    108938 non-null  object
 8   DATA DE INÍCIO ATIVIDADE     108938 non-null  object
 9   CNAE FISCAL PRINCIPAL        108938 non-null  object
 10  CNAE FISCAL SECUNDÁRIA       80635 non-null   object
 11  TIPO DE LOGRADOURO           108868 non-null  object
 12  LOGRADOURO                   108938 non-null  object
 13  NÚMERO                       108938 non-null  object
 14  BAIRRO                       108933 non-null  object
 15  CEP                          108936 non-null  object
 16  UF                           108938 non-null  object
 17  MUNICÍPIO                    99798 non-null   object
 18  DDD 1                        107526 non-null  object
 19  TELEFONE 1                   107526 non-null  object
 20  CORREIO ELETRÔNICO           97518 non-null   object
 21  REGIAO                       108936 non-null  object
dtypes: object(22)
memory usage: 18.3+ MB

In [36]:
dados.columns

Index(['CNPJ BÁSICO', 'CNPJ ORDEM', 'CNPJ DV', 'IDENTIFICADOR MATRIZ/FILIAL',
       'NOME FANTASIA', 'SITUAÇÃO CADASTRAL', 'DATA SITUAÇÃO CADASTRAL',
       'MOTIVO SITUAÇÃO CADASTRAL', 'DATA DE INÍCIO ATIVIDADE',
       'CNAE FISCAL PRINCIPAL', 'CNAE FISCAL SECUNDÁRIA', 'TIPO DE LOGRADOURO',
       'LOGRADOURO', 'NÚMERO', 'BAIRRO', 'CEP', 'UF', 'MUNICÍPIO', 'DDD 1',
       'TELEFONE 1', 'CORREIO ELETRÔNICO', 'REGIAO'],
      dtype='object')

In [37]:
dados["DATA SITUAÇÃO CADASTRAL"] = pd.to_datetime(dados["DATA SITUAÇÃO CADASTRAL"], format = "%Y%m%d", errors = "coerce")

dados["DATA SITUAÇÃO CADASTRAL"] = dados["DATA SITUAÇÃO CADASTRAL"].dt.strftime("%d/%m/%Y")

dados["DATA DE INÍCIO ATIVIDADE"] = pd.to_datetime(dados["DATA DE INÍCIO ATIVIDADE"], format = "%Y%m%d", errors = "coerce")

dados["DATA DE INÍCIO ATIVIDADE"] = dados["DATA DE INÍCIO ATIVIDADE"].dt.strftime("%d/%m/%Y")

In [ ]:
dados.head()

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,DATA DE INÍCIO ATIVIDADE,CNAE FISCAL PRINCIPAL,...,LOGRADOURO,NÚMERO,BAIRRO,CEP,UF,MUNICÍPIO,DDD 1,TELEFONE 1,CORREIO ELETRÔNICO,REGIAO
0,34183425,0001,03,1,ALMA LIDERANCA APLICADA,02,11/07/2019,00,11/07/2019,7319002,...,VITORIA,88,CIDADE ALTA,95700364,RS,BENTO GONCALVES,54,91160444,NaN,Sul
1,34185978,0001,97,1,UP CENTRO FISICO,02,11/07/2019,00,11/07/2019,9313100,...,ENGENHO VELHO QUADRA 13,SN,SETOR HABITACIONAL FERCAL (SOBRADINHO),73150045,DF,BRASILIA,61,92639029,CONTATO.UPACADEMIAFERCAL@GMAIL.COM,Centro-Oeste
2,34187457,0001,79,1,NaN,02,11/07/2019,00,11/07/2019,9001999,...,APINAJES,445,PERDIZES,05017000,SP,SAO PAULO,11,20130863,SETEC_CONTABIL@UOL.COM.BR,Sudeste
3,34200040,0001,07,1,IRON MUSCLE,02,12/07/2019,00,12/07/2019,9313100,...,ALEGRETE,505,MARINSKY,95585000,RS,ARROIO DO SAL,51,91800665,VIVANFIT@GMAIL.COM,Sul
4,34201548,0001,11,1,ASMF,02,12/07/2019,00,12/07/2019,9313100,...,DO MANGUEIRA,S/N,ILHA DE SANTA RITA,57160000,AL,MARECHAL DEODORO,82,32606021,maatiasaraujo@hotmail.com,Nordeste